.videos-main {
  padding: 11rem 1rem 1rem 7rem;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 6rem;
  width: 100%;
  background: var(--background-dark);
  z-index: 5;
}

.category {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 5px 10px;
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
}

.category:hover {
  background-color: var(--secondary);
}

.category-active {
  background-color: var(--secondary);
}

.videos-display-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 550px) {
  .videos-main {
    padding-right: 0;
    padding: 19.5rem 1rem 1rem 7rem !important;
  }
}

@media screen and (max-width: 680px) {
  .chips-container {
    top: 10.5rem;
  }

  .videos-main {
    padding: 15.5rem 1rem 1rem 7rem;
  }
}

@media screen and (min-width: 1500px) {
  .videos-display-wrapper {
    gap: 1.5rem;
  }
}
