.video-details-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.iframe-max-width {
  max-width: 80rem;
  width: 100%;
}

.iframe-wrapper {
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  height: 0;
}

.iframe-wrapper iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video-description-wrapper {
  margin-top: 1rem;
  font-size: 2.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-description-cta {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  margin-left: auto;
}

.video-description-cta div {
  cursor: pointer;
}

.video-description-cta div:hover {
  color: var(--grey);
}

.cta-watchlater-remove {
  color: var(--nav-hover) !important;
}

.video-description-title {
  font-weight: 500;
}

.video-description-creator-name {
  font-size: 0.75em;
  display: flex;
  align-items: center;
}

.video-description {
  font-size: 0.7em;
}

.video-description-views {
  font-size: 0.9em;
  margin-left: 1rem;
}

#more-videos-wrapper {
  padding-inline: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: calc(100vh - 8rem);
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.more-videos-heading {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 1px solid var(--primary);
}

.infinite-scroll {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scroll-message {
  margin: auto;
}

@media screen and (max-width: 600px) {
  .video-details-main {
    gap: 5rem;
    padding: 11rem 0rem 0rem 5rem;
  }

  .video-description-wrapper {
    font-size: 2.3rem;
    padding-inline: 1.5rem;
  }
}

@media screen and (min-width: 1500px) {
  .iframe-max-width {
    max-width: 94rem;
  }
}

@media screen and (min-width: 1600px) {
  .iframe-max-width {
    max-width: 100rem;
  }
}
