.hero-section {
  width: 100%;
  height: max-content;
  border-radius: 2rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  width: inherit;
  height: inherit;
}

.hero-text {
  font-size: 4rem;
  font-weight: 600;
}

.hero-text-small {
  font-size: 2.5rem;
}

.btn-hero {
  background: var(--black);
  margin-top: 2rem;
}

@media screen and (min-width: 1400px) {
  .hero-section {
    height: 28rem;
  }
  .wrapper {
    justify-content: space-evenly;
  }
  .btn-hero {
    margin-top: 0;
  }
}
