header {
  height: 6rem;
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  height: calc(100vh - 6rem);
  width: 100%;
  padding: 7rem 1rem 1rem 7rem;
  font-size: 3rem;
}

.navigation-container {
  background-color: var(--black);
  gap: 1rem;
}

.search-desktop {
  display: block;
}

.search-mobile {
  display: none;
}

.header-badge {
  position: absolute;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 2px;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 50%;
  background-color: var(--secondary);
}

.search-wrapper {
  border: none;
  color: black;
  font-size: 1.5rem;
}

@media screen and (max-width: 680px) {
  header {
    height: 10.5rem;
    background-color: var(--black);
  }

  main {
    height: calc(100vh - 10.5rem);
    padding: 11.5rem 1rem 1rem 7rem;
  }

  .search-desktop {
    display: none;
  }

  .search-mobile {
    padding: 0 10px;
    margin-left: auto;
    display: block;
    width: 88%;
  }
}

@media screen and (max-width: 400px) {
  .navigation-container {
    padding: 0 1rem;
  }
}
