.videos-main {
  padding: 6rem 1rem 1rem 7rem;
  display: flex;
  flex-direction: column;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--primary);
  width: 100%;
  background: var(--background-dark);
}

.category {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 5px 10px;
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
}

.category:hover {
  background-color: var(--secondary);
}

.category-active {
  background-color: var(--secondary);
}

.videos-display-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 680px) {
  .videos-main {
    padding: 10.5rem 1rem 1rem 7rem;
  }
}

@media screen and (min-width: 1500px) {
  .videos-display-wrapper {
    gap: 1.5rem;
  }
}
